################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RBVR Enhanced Launcher/RBVR Enhanced Launcher/bin/Debug
